*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,
body{
    height:100%;
    width:100%;
    position: relative;

}

body{
    overflow-x:hidden;
}

section{
    height:100%;
    width:100%;
}

nav{
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 20px 80px;
}

nav h1{
    font-size: 50px;
    align-items: center;
}

nav h4{
    font-size: 25px;
    font-weight: 500;
}

nav button{
    padding:15px 25px;
    font-size:22px;
    border-radius: 5px;
    border:1px solid #000;
    font-weight: 5px;
    background-color:transparent;

}

.part2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:30px;
}



.center{  
    padding:70px 100px;
    height:80%;
    width:100%;
    display: flex;
}


.center-part1{  
    height: 100%;
    width:44%;

}



.center-part1{
    line-height:1.1;
    font-size: 110px;
    font-family: monospace;
    
}

.center-part1 h1{
    
    font-size:60px;
    width:95%;
    
}

.center-part1 p{
    font-size:20px;
    width:95%;
    margin-top:5px;
    margin-bottom:3px;
}
.center-part1 button{
    
    background-color: black;
    color:#fff;
    border-radius:10px;
    padding: 20px 40px;
    font-size: 25px;
    font-weight: 600;
    border: none;
    margin-bottom:15px;
    
    
}

.center-part2{
    height: 100%;
    width:56%;
    position: relative;

}

.center-part2{
    height:100%;
    position: absolute;
    right:0;
    
}

.section-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:30px 120px;
}

.section-bottom img{
    height:40px;


}

.section-2 .services{
    
    padding:40px 120px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap:30px;
    margin-top:30px;

}

.services h3{
    background: #9AE975;
    font-weight: 300;
    padding:8px 10px;
    border-radius: 5px;
    font-size: 40px;
}

.services p{
    width:40%;
    font-size:20px;
}

.container{
    height:86%;
    width:100%;
    padding: 40px 120px;
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    gap:20px;
}

.elem{
    flex-shrink:0;
    height:280px;
    width:47%;
    border:2px solid black;
    border-radius:30px;
    box-shadow: 0px 7px 0px black;
    padding:60px;
    display: flex;
}

.elem-part1{
    height: 100%;
    width:50%;
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
    flex-direction: column;
}

.elem-part2{
    height:100%;
    width:50%;

}

.elem-part2 img{
    height:100%;
   

}

.elem-part1 h2{
    font-size: 30px;
    font-weight:500;
    background-color: #9AE975;
    width: fit-content;
    padding:0px 10px;
    border-radius: 10px;
    
}

#sys{
    background-color: #fff;
    color:#000
}

#content{
    color: #fff;
}
.elem-part1 h4{
    display: flex;
    align-items: center;
    font-size:20px;
    font-weight: 500;
    gap:10px;
}

.elem-part1 h4 i{
    padding:10px;
    background-color: black;
    color:#fff;
    border-radius: 50%;
}


.black{
    background-color: black;
}

